header{
    nav{
        @include flexCenter(column,center,center);
        padding: 1rem 8.625rem;
        gap: 1rem;

        .nav-section{
            @include flexCenter(row,center,space-between);
            width: 100%;


            .logo{
                font-family: $font-heading;
                color: $white;
                font-size: 2rem;
                text-decoration: none;
            }

            .menu{
                width: 1.875rem;
                height: .5rem;
                @include flexCenter(column,center,center);
                gap: .3rem;
                cursor: pointer;
                @include transition-ease;


                .menu-burger{
                    width: 100%;
                    height: 0.3125rem;
                    background: $white;
                    @include transition-ease;

                    &.active.bar-1{
                        transform: rotate(45deg) translate(9.4px, 8.5px);
                    }
                    &.active.bar-2{
                        transform: rotate(-45deg) translate(-5px, 5px);
                    }
                }
            }
        }

        .nav-links{
            padding: 1rem;
            height: fit-content;
            width: 100%;
            @include flexCenter(column,center,center);
            gap: 1rem;
            background: $white;
            transform: translateY(-100vh);
            @include transition-ease;
            border-radius: 0.4375rem;

            &:hover{
                background-color: $light-green;
            }

            &.active{
                transform: translateY(0);
            }

            ul{
                list-style-type: none;
                @include flexCenter(row,center,center);
                gap: 2rem;
                
                li{
                    a{
                        text-decoration: none;
                        color: $bg-color;
                        font-family: $font-body;
                        font-weight: 700;
                        @include transition-ease;

                        &:hover{
                            color: $white;
                        }

                    }
                }
            }
        }
    }
    
    .credit-spotify{
        text-decoration: none;
        padding: .5rem;
        background: $bg-color;
        color: $white;
        outline: solid 2px $light-green;
        border-radius: 0.4375rem;
        position: fixed;
        bottom: .5rem;
        left: 1rem;
        font-family: $font-body;
    }
}

@include media-sm{
    header{
        nav{
            padding: 1.25rem;

            .nav-links{
                ul{
                    gap: 1rem;
                }
            }
        }
    }
}