main{
    @include flexCenter(row,center,space-between);
    padding: 1rem 8.625rem;

    .main-section-1{
        @include flexCenter(column,center,center);
        gap: 1rem;

        h1{
            color: $white;
            font-family: $font-heading;
            font-size: 4.125rem;
        }

        p{
            color: $white;
            font-family: $font-body;
            font-size: 1.125rem;
            font-weight: 400;
        }

        .main-cta{
            @include flexCenter(row,center,center);
            gap: 1rem;

            button:nth-child(1){
                padding: 0.625rem 1.25rem;
                font-size: 1rem;
                font-family: $font-body;
                background: $light-green;
                border: none;
                color: $bg-color;
                font-weight: 700;
                border-radius: 0.3125rem;
                cursor: pointer;
            }

            button:nth-child(2){
                padding: 0.625rem 1.25rem;
                font-size: 1rem;
                font-family: $font-body;
                border: none;
                outline: solid 2px $white;
                color: $white;
                font-weight: 500;
                border-radius: 0.3125rem;
                cursor: pointer;
                background: none;
            }
        }
    }

    .gif-section{
        iframe{
            border-radius: 10px;
            max-width: 100%;
            object-fit: scale-down;
        }
    }
}

.secondary-section{
        padding: 1rem 8.625rem;
        @include flexCenter(column,center,center);
        border-top: solid 1px $dull-green;
        border-bottom: solid 1px $dull-green;
        text-align: center;
        margin: 5rem 0;
        gap: 2rem;

        h3{
            color: $dull-green;
            font-size: 2.0625rem;
            font-family: $font-heading;
            white-space: normal;
        }

        button{
                padding: 0.625rem 1.25rem;
                font-size: 1rem;
                font-family: $font-body;
                background: $light-green;
                border: none;
                color: $bg-color;
                font-weight: 700;
                border-radius: 0.3125rem;
                cursor: pointer;
        }
}

@include media-sm{
    main{
        @include flexCenter(column,center,center);
        gap: 1.25rem;

        .main-section-1{
            h1{
                font-size: 2.0625rem;
            }
        }

    }

    .secondary-section{
        padding: 20px;
    }
}




@include media-md{
    main{
        @include flexCenter(column,center,center);
        gap: 1.25rem;
        padding: 1.25rem;

        .main-section-1{
           text-align: center;

            h1{
                font-size: 3rem;
            }

            .main-cta{
                @include flexCenter(column,center,center)
            }
        }

    }
}

@include media-lg{
    main{
        @include flexCenter(column,center,center);
        gap: 1.25rem;
        padding: 1.25rem;

        .main-section-1{
           text-align: center;

            .main-cta{
                @include flexCenter(column,center,center)
            }
        }
    }
}